
.container {
	display: grid;
	grid-template-columns: repeat(7, 135px);
    grid-template-rows: repeat(8, 128px);
}

.header {
  grid-area: 1/1/2/8;
  background-color: red;
}
.yellow-left {
	grid-area: 2/1/9/2;
	background-color: yellow;
}
.yellow-right {
	grid-area: 2/7/9/8;
	background-color: yellow;
}
.blue {
	grid-area: 2/2/8/7;
	background-color: blue;
}
.green {
  grid-area: 8/2/9/7;
  background-color: green;
}