* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	}
.column {
	width: 15%;
	display: inline-block;
	height: 90vh;
	background-color: white;
}
header {
	background-color: purple;
	height: 10vh;
}
#left {
	float: left;
}
#middle {
	background-color: red;
	width: 600px;
	margin: 0 auto;
	height: 90vh;

}
#right {
	float: right;
}
/*footer {
	clear: both;
	background-color: green;
	height: 15vh;
}*/
.main {
	width: 400px;
	background-color: blue;
	margin: 20px auto;
	height: 20vh;
}
.yellow {
	height: 80px;
	width: 80px;
	margin: 15px 0 0 40px;
	background-color: yellow;
	display: inline-block;
	vertical-align: top;
}
.green {
	height: 100px;
	width: 150px;
		margin:  15px 0 0 40px;

	background-color: green;
	display: inline-block;
		vertical-align: top;

}














