* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	}
.column {
	width: 15%;
	display: inline-block;
	height: 90vh;
	background-color: white;
}
header {
	background-color: purple;
	height: 10vh;
}
#left {
	float: left;
}
#middle {
	background-color: red;
	width: 70%;
}
#right {
	float: right;
}
/*footer {
	clear: both;
	background-color: green;
	height: 15vh;
}*/
.main {
	width: 60%;
	background-color: blue;
	margin: 8% auto;
	height: 20vh;
}
.yellow {
	height: 10vh;
	width: 10vh;
	margin: 4vw 0 0 4vw;
	background-color: yellow;
	display: inline-block;
	vertical-align: top;
}
.green {
	height: 13vh;
	width: 18vw;
		margin:  4vw 0 0 4vw;

	background-color: green;
	display: inline-block;
		vertical-align: top;

}














